
.setting-label {
  padding: 10px 0;
}

.row {
  width: 100%;
  margin-bottom: 30px;
}

.mat-radio-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.nopadding {
  padding: 0!important
}

mat-form-field {
  width: 100%;
}

.player-design {
  display: flex;
  justify-content: space-between;
}

.player-select {
  margin-bottom: 20px;
}

.start-game-button {
  width: 100%;
}

.start-game-container {
  justify-content: flex-end;
}
