<form [formGroup]="gameSettingForm">
  <div class="row">
    <div class="col-12 setting-label">
      <h3>Spielart wählen:</h3>
    </div>
    <mat-radio-group formControlName="gameTypeControl">
      <mat-radio-button class="game-201"
                        [value]="'201'"
                        ng-style="{'display':'inline'}">
        Spiel 201
      </mat-radio-button>
      <mat-radio-button class="game-301"
                        [value]="'301'"
                        ng-style="{'display':'inline'}">
        Spiel 301
      </mat-radio-button>
      <mat-radio-button class="game-501"
                        [value]="'501'"
                        ng-style="{'display':'inline'}">
        Spiel 501
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="row">
    <div class="col-12 setting-label">
      <h3>Spieler:</h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 nopadding">
      <mat-form-field color="accent">
        <input matInput
               type="number"
               placeholder="Spieleranzahl"
               min="1"
               formControlName="playerCountControl"
               #playerCountInputComp>
        <mat-error *ngIf="playerCountControl.invalid">Es muss mindestens 1 Spieler ausgewählt werden</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row player-design">
    <div class="col-12 setting-label">
      <h5>Spielerauswahl:</h5>
    </div>
    <div class="col-sm-12 col-lg-5 nopadding player-select"
         *ngFor="let player of this.playerObj; let i = index">
      <mat-form-field color="accent">
        <input type="text"
               placeholder="Spieler {{i+1}}"
               matInput
               [formControl]="playerFormControls[i]"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption
                          (optionSelected)="selectPlayer($event, i)"
                          #auto="matAutocomplete">
          <mat-option *ngFor="let playerName of filteredPlayerList | async"
                      [value]="playerName">
            {{playerName}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="playerFormControls[i].invalid">Ein Spieler muss ausgewählt werden!</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row"
       align="right">
    <div class="col-sm-12 col-md-4 col-lg-4 nopadding start-game-container">
      <button color="accent"
              class="start-game-button"
              (click)="startGame()"
              mat-raised-button>Spiel starten</button>
    </div>
  </div>
</form>
