<div class="row">
    <div class="card-container col-sm-12 col-md-6 col-lg-4">
    <mat-card class="card" [routerLink]='["/competition"]'>
      <mat-card-header>
        <mat-card-title>Neues Spiel</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/DartsBoard.jpg">
      <mat-card-content>
          <p>
            Hier kann ein neues Dartsspiel gestartet werden
          </p>
        </mat-card-content>
    </mat-card>
  </div>
  <div class="card-container col-sm-12 col-md-6 col-lg-4">
    <mat-card class="card" [routerLink]='["/player"]'>
      <mat-card-header>
        <mat-card-title>Spielerkonfiguration</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/PlayerConfig.png">
      <mat-card-content>
          <p>
            Hier können neue Spieler angelegt, bestehende Spieler bearbeitet oder gelöscht werden
          </p>
        </mat-card-content>
    </mat-card>
  </div>
  <div class="card-container col-sm-12 col-md-6 col-lg-4">
    <mat-card class="card" [routerLink]='["/statistic"]'>
      <mat-card-header>
        <mat-card-title>Statistiken</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../assets/Statistic.png">
      <mat-card-content>
          <p>
            Hier können Spielerstatistiken eingesehen werden
          </p>
        </mat-card-content>
    </mat-card>
  </div>
</div>
